@import "../../../../../../../../libs/web-components/src/ui-mixins/buttons";

.playerDetailTopBar {
  margin-top: 5px;
  margin-bottom: 10px;
}

.button,
.active {
  @include buttonBase();
  @include buttonBlue();
  min-height: 30px;
  height: 30px;
  text-decoration: none;
  line-height: 27px;
}

.active {
  @include buttonActiveShadow($blueButtonEnd, $blueButtonStart);
}
