@import "../../../../../../../../libs/web-components/src/ui-mixins/variables";

.single-player-attribute-line {
  display: flex;
  flex-direction: row;
  padding: 0 8px;
  align-items: center;
  height: 22px;
  margin-bottom: 1px;
  user-select: none;

  &:nth-child(2n + 1) {
    background-color: rgba($black, 0.1);
  }

  .label {
    font-size: 15px;
  }

  .value {
    font-size: 14px;
    margin-left: auto;
    color: $titleYellow;
  }

  .excpPhy {
    color: #c40000;
  }
  .excpMent {
    color: #0027c4;
  }
  .excpGoal {
    color: #00c403;
  }
  .excpTech {
    color: #00c403;
  }
}
