@import "../../../../../../../../libs/web-components/src/ui-mixins/buttons";

.label {
  line-height: 30px;
}

.button {
  @include buttonBase();
  @include buttonBlue();
  @include buttonRounded();
  @include buttonSmall();
  display: block;
  text-decoration: none;
  line-height: 27px;

  width: 100%;
}
